{
    "presets": ["next/babel", "@babel/preset-typescript"],
    "plugins": [
        [
            "babel-plugin-styled-components",
            {
                "ssr": true,
                "displayName": true
            }
        ]
    ],
    "env": {
        "test":{
            "pluggins": [
                "babel-plugin-styled-components",
                {
                    "srr": false,
                    "displayName": false
                }
            ]
        }
    }
}